@import "animate.min.css";
/*
 * Generate Margin Class
 * margin, margin-top, margin-bottom, margin-left, margin-right
 */
.m-0 {
  margin: 0px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
/*
 * Generate Padding Class
 * padding, padding-top, padding-bottom, padding-left, padding-right
 */
.p-0 {
  padding: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
/*
 * Font Weight
 */
.f-300 {
  font-weight: 300 !important;
}
.f-400 {
  font-weight: 400 !important;
}
.f-500 {
  font-weight: 500 !important;
}
.f-700 {
  font-weight: 700 !important;
}
/*
 * Position Classes
 */
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.p-fixed {
  position: fixed !important;
}
.p-static {
  position: static !important;
}
/*
 * Overflow
 */
.o-hidden {
  overflow: hidden !important;
}
.o-visible {
  overflow: visible !important;
}
.o-auto {
  overflow: auto !important;
}
/*
 * Display
 */
.d-block {
  display: block !important;
}
.di-block {
  display: inline-block !important;
}
/* 
 * Material Background Colors
 */
.bgm-white {
  background-color: #ffffff !important;
}
.c-white {
  color: #ffffff !important;
}
.bd-white {
  border: 1px solid #ffffff !important;
}
.bgm-black {
  background-color: #000000 !important;
}
.c-black {
  color: #000000 !important;
}
.bd-black {
  border: 1px solid #000000 !important;
}
.bgm-brown {
  background-color: #795548 !important;
}
.c-brown {
  color: #795548 !important;
}
.bd-brown {
  border: 1px solid #795548 !important;
}
.bgm-pink {
  background-color: #e91e63 !important;
}
.c-pink {
  color: #e91e63 !important;
}
.bd-pink {
  border: 1px solid #e91e63 !important;
}
.bgm-red {
  background-color: #f44336 !important;
}
.c-red {
  color: #f44336 !important;
}
.bd-red {
  border: 1px solid #f44336 !important;
}
.bgm-blue {
  background-color: #2196f3 !important;
}
.c-blue {
  color: #2196f3 !important;
}
.bd-blue {
  border: 1px solid #2196f3 !important;
}
.bgm-purple {
  background-color: #9c27b0 !important;
}
.c-purple {
  color: #9c27b0 !important;
}
.bd-purple {
  border: 1px solid #9c27b0 !important;
}
.bgm-deeppurple {
  background-color: #673ab7 !important;
}
.c-deeppurple {
  color: #673ab7 !important;
}
.bd-deeppurple {
  border: 1px solid #673ab7 !important;
}
.bgm-lightblue {
  background-color: #03a9f4 !important;
}
.c-lightblue {
  color: #03a9f4 !important;
}
.bd-lightblue {
  border: 1px solid #03a9f4 !important;
}
.bgm-cyan {
  background-color: #00bcd4 !important;
}
.c-cyan {
  color: #00bcd4 !important;
}
.bd-cyan {
  border: 1px solid #00bcd4 !important;
}
.bgm-teal {
  background-color: #009688 !important;
}
.c-teal {
  color: #009688 !important;
}
.bd-teal {
  border: 1px solid #009688 !important;
}
.bgm-green {
  background-color: #4caf50 !important;
}
.c-green {
  color: #4caf50 !important;
}
.bd-green {
  border: 1px solid #4caf50 !important;
}
.bgm-lightgreen {
  background-color: #8bc34a !important;
}
.c-lightgreen {
  color: #8bc34a !important;
}
.bd-lightgreen {
  border: 1px solid #8bc34a !important;
}
.bgm-lime {
  background-color: #cddc39 !important;
}
.c-lime {
  color: #cddc39 !important;
}
.bd-lime {
  border: 1px solid #cddc39 !important;
}
.bgm-yellow {
  background-color: #ffeb3b !important;
}
.c-yellow {
  color: #ffeb3b !important;
}
.bd-yellow {
  border: 1px solid #ffeb3b !important;
}
.bgm-amber {
  background-color: #ffc107 !important;
}
.c-amber {
  color: #ffc107 !important;
}
.bd-amber {
  border: 1px solid #ffc107 !important;
}
.bgm-orange {
  background-color: #ff9800 !important;
}
.c-orange {
  color: #ff9800 !important;
}
.bd-orange {
  border: 1px solid #ff9800 !important;
}
.bgm-deeporange {
  background-color: #ff5722 !important;
}
.c-deeporange {
  color: #ff5722 !important;
}
.bd-deeporange {
  border: 1px solid #ff5722 !important;
}
.bgm-gray {
  background-color: #9e9e9e !important;
}
.c-gray {
  color: #9e9e9e !important;
}
.bd-gray {
  border: 1px solid #9e9e9e !important;
}
.bgm-bluegray {
  background-color: #607d8b !important;
}
.c-bluegray {
  color: #607d8b !important;
}
.bd-bluegray {
  border: 1px solid #607d8b !important;
}
.bgm-indigo {
  background-color: #3f51b5 !important;
}
.c-indigo {
  color: #3f51b5 !important;
}
.bd-indigo {
  border: 1px solid #3f51b5 !important;
}
.bgm-light {
  background-color: #f5f5f5 !important;
}
.c-light {
  color: #f5f5f5 !important;
}
.bd-light {
  border: 1px solid #f5f5f5 !important;
}
/*
 * Background Colors
 */
.bg-black-trp {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/*
 * Border
 */
.b-0 {
  border: 0 !important;
}
/*
 * width
 */
.w-100 {
  width: 100% !important;
}
/*
 * black and white
 */
.g3 {
  color: #333;
}
.g6 {
  color: #666;
}
.g9 {
  color: #999;
}
.gd {
  color: #ddd;
}
/*
 * Rounded and Circle Classes
 */
.no-rounded {
  border-radius: 0 !important;
}
.rounded {
  border-radius: 4px !important;
}
.rounded-x {
  border-radius: 50% !important;
}
.rounded-2x {
  border-radius: 10px !important;
}
.rounded-3x {
  border-radius: 15px !important;
}
.rounded-4x {
  border-radius: 20px !important;
}
.rounded-sm {
  border-radius: 2px !important;
}
.rounded-md {
  border-radius: 3px !important;
}
.rounded-top {
  border-radius: 4px 4px 0 0 !important;
}
.rounded-left {
  border-radius: 4px 0 0 4px !important;
}
.rounded-right {
  border-radius: 0 4px 4px 0 !important;
}
.rounded-bottom {
  border-radius: 0 0 4px 4px !important;
}
/*
 * CSS3 Hover Effects
 */
.hover-effect {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hover-effect-kenburn {
  left: 10px;
  margin-left: -10px;
  position: relative;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
  -webkit-transform: scale(2) rotate(5deg);
  -moz-transform: scale(2) rotate(5deg);
  -o-transform: scale(2) rotate(5deg);
  -ms-transform: scale(2) rotate(5deg);
  transform: scale(2) rotate(5deg);
}
/*
 * other
 */
.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #E3E3E3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, 0.11);
}
.hr-double {
  height: 3px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
.auto {
  margin-left: auto;
  margin-right: auto;
}
.h16 {
  height: 16px;
  line-height: 16px;
}
.h18 {
  height: 18px;
  line-height: 18px;
}
.h20 {
  height: 20px;
  line-height: 20px;
}
.h22 {
  height: 22px;
  line-height: 22px;
}
.h24 {
  height: 24px;
  line-height: 24px;
}
.h28 {
  height: 28px;
  line-height: 28px;
}
.h30 {
  height: 30px;
  line-height: 30px;
}
.h32 {
  height: 32px;
  line-height: 32px;
}
.h34 {
  height: 34px;
  line-height: 34px;
}
.fz12 {
  font-size: 12px;
}
.fz14 {
  font-size: 14px;
}
.fz16 {
  font-size: 16px;
}
.fz18 {
  font-size: 18px;
}
.ti2 {
  text-indent: 2em;
}
.fix {
  *zoom: 1;
}
.fix:after {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
.l {
  float: left;
}
.r {
  float: right;
}
.auto {
  margin-left: auto;
  margin-right: auto;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.ell {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.swiper-slide-active .swiper-lazy-preloader {
  display: none;
}
html,
body {
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.metro_line {
  height: 100%;
  width: 5px;
  margin-left: auto;
  margin-right: auto;
}
.metro_line section {
  width: 200px;
  line-height: 30px;
  margin: 30px 0;
}
.metro_line section .dot {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  margin-top: 10px;
  display: inline-block;
}
.metro_line section.text-left {
  margin-left: -4px;
}
.metro_line section.text-right {
  margin-left: -192px;
}
.metro_bg {
  background: url(../images/bg_img.jpg) 0 0 no-repeat;
  width: 980px;
  height: 1005px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.station {
  position: absolute;
  cursor: pointer;
}
.station .dot {
  background: #fff;
  border: 2px solid #000;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
}
.station .dot1 {
	background: #000;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
}
.station .pop {
  position: relative;
  display: none;
}
.station .pop .cont {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  border-radius: 4px !important;
  padding: 10px !important;
  width: 150px;
  background: #fff;
}
/*江阳北路*/
.station.line3_s1 {
  left: 527px;
  top: 23px;
}
.station.line3_s2 {
  left: 587px;
  top: 23px;
}
.station.line3_s3 {
  left: 616px;
  top: 50px;
}
.station.line3_s4 {
  left: 616px;
  top: 90px;
}
.station.line3_s5 {
  left: 616px;
  top: 130px;
}
.station.line3_s6 {
  left: 616px;
  top: 170px;
}
.station.line3_s7 {
  left: 616px;
  top: 210px;
}
.station.line3_s8 {
  left: 616px;
  top: 250px;
}
.station.line3_s9 {
  left: 590px;
  top: 270px;
}
.station.line3_s10 {
  left: 567px;
  top: 300px;
}
.station.line3_s11 {
  left: 567px;
  top: 350px;
}
.station.line3_s12 {
  left: 567px;
  top: 400px;
}
.station.line3_s13 {
  left: 567px;
  top: 440px;
}
.station.line3_s14 {
  left: 567px;
  top: 490px;
}
.station.line3_s15 {
  left: 560px;
  top: 540px;
}
.station.line3_s16 {
  left: 525px;
  top: 575px;
}
.station.line3_s17 {
  left: 430px;
  top: 575px;
}
.station.line3_s18{
  left: 360px;
  top: 575px;
}
.station.line3_s19 {
  left: 300px;
  top: 575px;
}
.station.line3_s20 {
  left: 240px;
  top: 575px;
}
.station.line3_s21 {
  left: 195px;
  top: 600px;
}
.station.line3_s22 {
  left: 195px;
  top: 650px;
}
.station.line3_s23 {
  left: 195px;
  top: 720px;
}
.station.line3_s24 {
  left: 195px;
  top: 770px;
}
.station.line3_s25 {
  left: 195px;
  top: 830px;
}
.station.line3_s26 {
  left: 215px;
  top: 880px;
}
.station.line3_s27 {
  left: 270px;
  top: 900px;
}
.station.line3_s28 {
  left: 245px;
  top: 968px;
}
.station.line3_s29 {
  left: 100px;
  top: 968px;
}

/*上海体育馆*/
.station.line4_s1 {
  left: 240px;
  top: 848px;
}
.station.line4_s2 {
  left: 310px;
  top: 848px;
}
.station.line4_s3 {
  left: 375px;
  top: 848px;
}
.station.line4_s4 {
  left: 430px;
  top: 848px;
}
.station.line4_s5 {
  left: 500px;
  top: 848px;
}
.station.line4_s6{
  left: 550px;
  top: 848px;
}
.station.line4_s7 {
  left: 610px;
  top: 848px;
}
.station.line4_s8 {
  left: 670px;
  top: 848px;
}
.station.line4_s9 {
  left: 710px;
  top: 845px;
}
.station.line4_s10 {
  left: 725px;
  top: 790px;
}
.station.line4_s11 {
  left: 725px;
  top: 750px;
}
.station.line4_s12 {
  left: 725px;
  top: 700px;
}
.station.line4_s13 {
  left: 725px;
  top: 650px;
}
.station.line4_s14 {
  left: 725px;
  top: 600px;
}
.station.line4_s15 {
  left: 670px;
  top: 578px;
}
.station.line4_s16 {
  left: 610px;
  top: 578px;
}
.station.line4_s17 {
  left: 525px;
  top: 575px;
}
.station.line4_s18 {
  left: 430px;
  top: 575px;
}
.station.line4_s19{
  left: 360px;
  top: 575px;
}
.station.line4_s20 {
  left: 300px;
  top: 575px;
}
.station.line4_s21 {
  left: 240px;
  top: 575px;
}
.station.line4_s22 {
  left: 195px;
  top: 600px;
}
.station.line4_s23 {
  left: 195px;
  top: 650px;
}
.station.line4_s24 {
  left: 195px;
  top: 720px;
}
.station.line4_s25 {
  left: 195px;
  top: 770px;
}
.station.line4_s26 {
  left: 195px;
  top: 830px;
}

/*美兰湖*/
.station.line7_s1 {
  left: 138px;
  top: 28px;
}
 .station.line7_s2 {
  left: 138px;
  top: 78px;
}
 .station.line7_s3 {
  left: 138px;
  top: 128px;
}
 .station.line7_s4 {
  left: 138px;
  top: 178px;
}
 .station.line7_s5 {
  left: 138px;
  top: 228px;
}
 .station.line7_s6 {
  left: 140px;
  top: 270px;
}
 .station.line7_s7 {
  left: 198px;
  top: 285px;
}
 .station.line7_s8 {
  left: 255px;
  top: 285px;
}
 .station.line7_s9 {
  left: 295px;
  top: 300px;
}
 .station.line7_s10{
  left: 295px;
  top: 340px;
}
 .station.line7_s11 {
  left: 295px;
  top: 380px;
}
 .station.line7_s12 {
  left: 295px;
  top: 420px;
}
 .station.line7_s13 {
  left: 295px;
  top: 460px;
}
 .station.line7_s14 {
  left: 295px;
  top: 500px;
}
.station.line7_s15 {
  left: 295px;
  top: 540px;
}
.station.line7_s16 {
  left: 300px;
  top: 580px;
}
 .station.line7_s17 {
  left: 340px;
  top: 620px;
} .station.line7_s18 {
  left: 375px;
  top: 660px;
} .station.line7_s19 {
  left: 375px;
  top: 700px;
}
 .station.line7_s20 {
  left: 375px;
  top: 740px;
}
 .station.line7_s21 {
  left: 375px;
  top: 790px;
}
 .station.line7_s22 {
  left: 375px;
  top: 830px;
}


 .station.line7_s23 {
  left: 375px;
  top: 890px;
}
 .station.line7_s24 {
  left: 440px;
  top: 950px;
}
 .station.line7_s25 {
  left: 510px;
  top: 950px;
}
 .station.line7_s26 {
  left: 580px;
  top: 950px;
}
 .station.line7_s27 {
  left: 640px;
  top: 950px;
}
 .station.line7_s28 {
  left: 700px;
  top: 950px;
}
 .station.line7_s29 {
  left: 760px;
  top: 950px;
}
 .station.line7_s30 {
  left: 800px;
  top: 920px;
}
 .station.line7_s31 {
  left: 840px;
  top: 880px;
}
 .station.line7_s32{
  left: 865px;
  top: 820px;
}
 .station.line7_s33 {
  left: 865px;
  top: 760px;
}
